section.custom_breadcrumbs{
    margin: 20px 0;
    @media(max-width: 1024px){
        display: none;
    }
    .container{
        nav{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 25px;
                li{
                    a,
                    span{
                        color: $cdark;
                        font-size: 17px;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: $ccorp;
                        }
                    }
                    span{
                        &:after{
                            display: none;
                        }
                    }
                    div{
                        color: $cmain;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

section.service_hero{
    position: relative;
    height: 590px;
    margin-bottom: 70px;
    @media(max-width: 1024px){
        margin-bottom: 40px;
        height: auto;
    }
    .hero_wrap{
        height: 100%;
        padding: 30px 38px 70px;
        @media(max-width: 1024px){
            padding: 0;
            height: auto;
        }
    }
    .container{
        position: relative;
        height: 100%;
        @media(max-width: 1024px){
            height: auto;
        }
        figure{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 0 60px 70px;
            margin-bottom: 0;
            @media(max-width: 1024px){
                position: relative;
                height: 280px;
                padding: 0;
                margin: 0 -15px;
                width: calc(100% + 30px);
                margin-bottom: 20px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .hero_content{
            position: relative;
            z-index: 2;
            color: $cdark;
            height: 100%;
            @media(max-width: 1024px){
                height: auto;   
            }
            .service_title{
                margin-bottom: 20px;
                font-size: 45px;
                color: $cdark;
                @media(max-width: 1024px){
                    margin-bottom: 0;
                    font-size: 34px;
                }
            }
            .service_hero_nav{
                position: absolute;
                bottom: 0;
                left: -38px;
                width: calc(100% + 76px);
                background-color: #A18B79;
                padding: 28px 38px;
                @media(max-width: 1024px){
                    position: relative;
                    background-color: transparent;
                    padding: 10px 0;
                    left: 0;
                    width: 100%;
                }
                ul{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 28px;
                    @media(max-width: 1024px){
                        flex-wrap: wrap;
                        gap: 15px;   
                    }
                    li{
                        a{
                            display: inline-flex;
                            position: relative;
                            color: $cwhite;
                            font-size: 16px;
                            @media(max-width: 1024px){
                                font-size: 15px; 
                                color: $cdark;   
                            }
                            &:after{
                                content: '';
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $cwhite;
                                @media(max-width: 1024px){
                                    background-color: $ccorp;
                                }
                            }
                        }
                    }
                }
            }
            .service_desc{
                margin-bottom: 10px;
                font-size: 23px;
                @media(max-width: 1024px){
                    font-size: 18px;
                }
            }
            .service_hero_buttons{
                display: flex;
                align-items: flex-end;
                gap: 35px;
                @media(max-width: 1024px){
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                }
                .theme_button{
                    @media(max-width: 1024px){
                        width: 100%;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 230px;
                        height: 52px;
                        color: $cwhite;
                        border-radius: 8px;
                        background-color: #0079FF;
                        @media(max-width: 1024px){
                            width: 100%;
                            height: 48px;
                        }
                    }
                }
                .sale{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: $cwhite;
                    color: $cdark;
                    @media(max-width: 1024px){
                        order: -1;
                        padding: 0;
                        background-color: transparent;
                        border-radius: 0;   
                    }
                    .text{
                        font-size: 17px;
                        @media(max-width: 1024px){
                            font-size: 17px;   
                        }
                    }
                    .price{
                        all: unset;
                        font-size: 37px;
                        @media(max-width: 1024px){
                            font-size: 30px;
                            color: $ccorp;   
                        }
                    }
                }
            }
        }
    }
}

section.about_service{
    margin-bottom: 100px;
    @media(max-width: 1024px){
        margin-bottom: 40px;   
    }
    .about_wrap{
        display: grid;
        grid-gap: 42px;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 1024px){
            grid-gap: 20px;
            grid-template-columns: 1fr;
        }
        figure{
            width: 100%;
            @media(max-width: 1024px){
                order: -1;
            }
            img{
                width: 100%;
                max-height: 402px;
                object-fit: cover;
            }
        }
    }
}

section.service_long_desc{
    margin-bottom: 50px;
    .section_text{
        color: $cdark;
        font-size: 23px;
        @media(max-width: 1024px){
            font-size: 16px;
        }
        h3{
            margin: 30px 0;
            font-size: 27px;
            font-weight: 700;
            color: $cdark;
            @media(max-width: 1024px){
                margin: 20px 0;
                font-size: 21px;
            }
        }
        h2{
            margin: 40px 0;
            font-size: 37px;
            @media(max-width: 1024px){
                margin: 20px 0;
                font-size: 21px;
            }
        }
        ul,ol{
            list-style-position: inside;
        }
        ol{
            list-style: none;
            counter-reset: item;
            li{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                counter-increment: item;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before{
                    content: counter(item);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: $ccorp;
                    color: $cwhite;
                    font-size: 17px;
                    margin-right: 15px;
                    @media(max-width: 1024px){
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }
        table{
            margin: 40px 0 ;
            tbody{
                border: 1px solid $ccorp;
                @media(max-width: 1024px){
                    border: none;
                }
                tr{
                    display: flex;
                    align-items: center;
                    height: auto !important;
                    padding: 20px;
                    border-bottom: 1px solid $ccorp;
                    @media(max-width: 1024px){
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        border-bottom: none;
                        border: 1px solid $ccorp;
                        margin-bottom: 20px;
                        padding: 15px;
                        border-radius: 5px;
                    }
                    &:first-child{
                        background-color: $ccorp;
                        color: $cwhite;
                        @media(max-width: 1024px){
                            display: none;
                        }
                    }
                    &:last-child{
                        border-bottom: none;
                        @media(max-width: 1024px){
                            margin-bottom: 0;
                            border-bottom: 1px solid $ccorp;
                        }
                    }
                    td{
                        height: auto !important;
                        @media(max-width: 1024px){
                            display: flex;
                            align-items: center;
                            width: 100% !important;
                            margin-bottom: 20px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            &:before{
                                font-weight: 700;
                                display: inline-block;
                                margin-right: 5px;
                            }
                            &:nth-child(1){
                                &:before{
                                    content: 'Критерий:';
                                }
                            }
                            &:nth-child(2){
                                &:before{
                                    content: 'Osstem:';
                                }
                            }
                            &:nth-child(3){
                                &:before{
                                    content: 'Dentium:';
                                }
                            }
                            &:nth-child(4){
                                &:before{
                                    content: 'Astra Tech:';
                                }
                            }
                            &:nth-child(5){
                                &:before{
                                    content: 'Nobel:';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

section.price_table{
    margin-bottom: 70px;
    @media(max-width: 1024px){
        margin-bottom: 40px;
    }
    .custom_table{
        box-shadow: 0px 15px 35px rgba(10, 77, 94, 0.14);
        border-radius: 10px;
        padding: 18px;
        .table_wrap{
            box-shadow: 0px 18px 49px rgba(27, 42, 64, 0.2);
            border-radius: 10px;
            padding: 40px;
            @media(max-width: 1024px){
                padding: 15px;
            }
            .table_header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 25px;
                font-weight: 700;
                color: $cdark;
                @media(max-width: 1024px){
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #939598;
                    align-items: flex-end;
                }
                .left{
                    font-size: 17px;
                    @media(max-width: 1024px){
                        font-size: 10px;
                        max-width: 50%;
                    }
                    @media(max-width: 420px){
                        max-width: 60%;
                    }
                }
                .right{
                    font-size: 16px;
                    @media(max-width: 1024px){
                        font-size: 11px;
                    }
                }
            }
            .table_values{
                .table_value{
                    margin-bottom: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    position: relative;
                    @media(max-width: 1024px){
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #939598;
                    }
                    .value_header{
                        font-size: 17px;
                        color: $cdark;
                        @media(max-width: 1024px){
                            font-size: 13px;
                            margin-bottom: 5px;
                        }
                    }
                    .value_content{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .title{
                            font-size: 13px;
                            color: #949494;
                            flex: 1;
                            position: relative;
                            @media(max-width: 1024px){
                                font-size: 10px;
                                max-width: 60%;
                            }
                            @media(max-width: 420px){
                                max-width: 70%;
                            }
                            &:after{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                bottom: 5px;
                                border-bottom: 1px dotted currentColor;
                                @media(max-width: 1024px){
                                    display: none;
                                }
                            }
                            span{
                                display: inline-block;
                                background-color: $cwhite;
                                position: relative;
                                z-index: 2;
                            }
                        }
                        .price_value{
                            color: $cdark;
                            font-size: 16px;
                            background-color: $cwhite;
                            padding-left: 3px;
                            @media(max-width: 1024px){
                                font-size: 13px;
                                position: absolute;
                                top: 5px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.call_now{
    margin-bottom: 20px;
    .theme_button{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            height: 52px;
            color: $cwhite;
            border-radius: 8px;
            background-color: #0079FF;
            font-size: 20px;
            @media(max-width: 1024px){
                width: 100%;
                height: 48px;
            }
        }
    }
}